*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(217, 177, 217);
}
div{
    border: 2px solid black;
    margin-top: 150px;
    width: 400px;
    margin-left: 320px;
    height: 150px;
    border-radius: 10px;
    
    
    
}
div h1{
    margin-left: 160px;
    padding: 30px 30px 30px 30px;
    color:brown;
}
div button{
    margin-left: 40px;
    padding: 5px 7px 5px 7px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
}
#increment{
    background-color: rgb(226, 91, 91);
    cursor: pointer;
}
#decrement{
    background-color: rgb(222, 222, 104);
    cursor: pointer;
}
#reset{
    background-color: rgb(177, 215, 120);
    cursor: pointer;
}
